<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Customer Churn Analytics</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet">

<link rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}">

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>

<div class="wrapper">

    <div class="sidebar">

        <h3 class="logo">
            ChurnAI
        </h3>

        <a href="/">🏠 Prediction</a>
        <a href="/dashboard">📊 Analytics</a>
        <a href="/insights">💡 Insights</a>
        <a href="/history">📜 History</a>

    </div>

    <div class="main-content">

        {% block content %}
        {% endblock %}

    </div>

</div>

</body>

</html>